# Arquivos de Sistema e Cache Python
venv/
__pycache__/
*.pyc
.DS_Store

# Variáveis de Ambiente e Chaves
.env

# Scripts temporários e lixeiras de manutenção
_temp/

# Arquivos de Sessão e Estado do Simulador
data/bancos/session_local.json
data/bancos/simulado_estado*.json
data/bancos/cookies.json

# Bancos de Dados Locais Antigos e Backups
data/bancos/db.sqlite
data/bancos/db_backup*.sqlite
data/bancos/banco_questoes.sqlite
data/bancos/questoes_estudegratis.db
data/edital/*
data/processados/*
data/questoes/*
data/resumos/*
data/cooldowns.json
data/raw

# Firebase & Local Cache
.firebase/

# Front-End Build & Dependências
frontend/node_modules/
frontend/dist/
